div{
  color: #9b9b9b;
}

.section{
  padding: 10px 35px 30px 35px;
  width: 100%;
}

.section-header{
  margin-top: 10px;
  color: #555;
}

.column-heading{
  font-size: 18px;
  color: #4a4a4a;
  padding-bottom: 5px;
}

#personal-info-container{
  min-height: 150px;
  background-color: #f7f7f7;
}

#personal-info-container label, #card-info-container label{
  font-weight: normal;
  font-size: 16px;
  color: #9b9b9b;
}

.form-background-image{
  position: absolute;
  right: -35px;
  height: 200px;
}

#card-info-container .form-background-image{
  margin-top: -30px;
}

.text-input{
  padding: 7px 15px 7px 15px;
  width: 100%;
  border: 1px solid #c3c0c0;
  background-color: transparent;
  border-radius: 4px;
  font-size: 20px;
  color: #9b9b9b;
}

select.form-control{
  background-color: transparent;
  color: #9b9b9b;
  font-size: 20px;
}

.category{
  padding-top: 5px;
  padding-bottom: 5px;
}

#preferences-container .empty-checkbox, #preferences-container .checked-checkbox{
  margin-right: 10px;
}

#card-info-container{
  background-color: #f7f7f7;
}

#confirmed{
  min-height: 500px;
}
